body{
    background-color: #cccccc;
}
h1{
    
    font-size:50px;
    text-align: center;
    color: #101010;
    font-family: 'Seravek';
}
p{
    color:#101010;
    font-family: 'Seravek';
    text-align:center;
    font-size:16px;
}