body{
    background-color: #282b30;
}
h1{
    
    font-size:50px;
    text-align: center;
    color: #fff;
    font-family: 'Merriweather';
}
p{
    color:#fff;
    font-family: 'Merriweather';
    text-align:center;
    font-size:16px;
}